@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This website is a basic Razor web application used to demonstrate CRUD operations on a book
        database.
    </p> 
    <p>
        In order to replicate, please download MSSMS and set up a new connection at the Host Info listed below.
    </p>
    <br />
    <table class="table table-striped table-dark table-bordered">
        <thead >
            <tr>
                <th scope="col">Database</th>
                <th scope="col">Host Info</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Microsoft SQL Server Management Studio</td>
                <td>(LocalDb)\MSSQLLocalDB </td>
            </tr>
        </tbody>
    </table>
    <div>
        <p>After the database is set up you can click the Book tab in the Nav Bar, I don't want to spend
        money to host the SQL server for a simple project.</p>
    </div>
</div>
